<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>PlO Analysis Portal</title>
        <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
        <link rel="stylesheet" href="style/main.css">
        <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
        <script>
        $(function(){
            $('a').each(function() {
            if ($(this).prop('href') == window.location.href) {
                $(this).addClass('current');
                }
            });
        });
        </script>
    </head>
<body>

<div class="grid">
    <div class="row header">
        <div class="col-1">
            <img src="img/nust_vector.svg" alt="NUST Logo">
        </div>
        <div class="col-11">
            <h1>NUST PLO Analysis Portal</h1>
        </div>
    </div>

    <div class="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">PLO Analysis Tools <i class="icon-angle-down"></i></a>
                <ul class="sub-menu">
                    <li><a href="/intake">Intake Performance Evaluation</a></li>
                    <li><a href="/course">Course Performance Evaluation</a></li>
                    <li><a href="/student">Student Performance Evaluation</a></li>
                </ul>
            </li>
            <li><a href="/support">Support</a></li>
            <li><a href="/faqs">FAQs</a></li>
            <li><a href="/github">GitHub</a></li>
        </ul>
    </div>

    <div class="content col-12">
        {% block content %}
        {% endblock %}
    </div>
    <div class="col-12 line">
        <hr>
    </div>
    <div class="copyright">
        © Copyright 2015. All right reserved.
    </div>
</div>

</body>
</html>